.footer {
  // margin-top: 60px;
  padding: 60px 0;
  background-color: #f1eee7;
  // border-top: 1px solid #e5e2da;
  text-align: center;
  font-size: 14px;
  color: rgba(#43413d, 0.5);
}

.footer-menu {
  display: flex;
  justify-content: center;
  gap: 1.2em;
  margin-bottom: 0.5em;
}

.footer-copyright {
  margin-top: 1.5em;
  color: rgba(#43413d, 0.25);
}
