@import "@styles/shared";

.title {
  margin-bottom: 0.4em;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  text-wrap: balance;

  i {
    opacity: 0;
    margin-left: 0.35em;
    position: relative;
    top: -0.07em;
    font-weight: var(--base-font-weight);
    font-style: inherit;
    font-size: var(--base-font-size);
    color: rgba(var(--text-color-max-contrast-rgb), 0.3);
    transition: opacity 0.15s;

    a:hover & {
      opacity: 1;
    }
  }
}

.description {
  opacity: 0.75;
  margin-bottom: 1.2em;
  text-wrap: balance;

  em {
    font-weight: inherit;
  }
}

.meta {
  display: flex;
  gap: 1em;
  opacity: 0.75;
  margin-bottom: 0;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 0.1em;

  i {
    width: 1px;
    height: 1.5em;
    margin-top: -0.05em;
    background-color: rgba(var(--text-color-max-contrast-rgb), 0.2);
    font-style: inherit;
  }
}
