---
import Box from "@components/Box/Box.astro"
import styles from "./Docs.module.scss"
---

<div class={styles.el}>
  <Box type="plain" title="Quick start guide" href="#">
    <p>
      <span class="link">Get started using Meadow<i>→</i></span>
    </p>
  </Box>
  <Box type="plain" title="User docs" href="#">
    <p>
      <span class="link">Read user docs<i>→</i></span>
    </p>
  </Box>
  <Box
    type="plain"
    title="Developer docs"
    href="https://golem.foundation/meadow-app/documentation/meadow/"
  >
    <p>
      <span class="link">Read developer docs<i>→</i></span>
    </p>
  </Box>
</div>
