@import "@styles/shared";

.el {
  margin-bottom: var(--column-spacing);

  @include media(">=tablet") {
    display: grid;
    gap: var(--column-spacing);
    grid-template-columns: 1fr 1fr 1fr;
  }
}
