em {
  font-weight: 600;
}

sup {
  margin-left: 0.3em;
  position: relative;
  font-size: 0.75em;
  line-height: 0;
  vertical-align: baseline;
  top: -0.4em;

  a {
    display: inline-block;
    padding: 10px 6px;
    background-color: rgba(var(--text-color-max-contrast-rgb), 0.04);
    border-radius: 3px;
    font-weight: 500;
    // font-family: monospace;
    color: var(--accent-color);
    // cursor: default;

    &:hover {
      background-color: rgba(var(--text-color-max-contrast-rgb), 0.08);
      // color: var(--black);
    }
  }
}

p,
ol,
ul {
  &:where(:not(:last-child)) {
    margin-bottom: calc(var(--base-line-height) * 1em);
  }
}

a:not([class]):not(sup a),
.link {
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-decoration-color: rgba(var(--link-color-rgb), 0.5);
  text-underline-offset: 2px;
  // font-weight: 500;
  // color: var(--link-color);
  transition: 0.15s;
  transition-property: text-decoration-color, color;

  &:has(i) {
    --icon-padding: 1.2em;
    margin-right: calc(var(--icon-padding) + 0.2em);
    position: relative;
  }

  i {
    position: absolute;
    top: -0.1em;
    right: calc(var(--icon-padding) * -1);
    font-style: inherit;
    color: rgba(var(--text-color-max-contrast-rgb), 0.3);
    transition: color 0.15s;
  }

  &:hover,
  a:hover & {
    text-decoration-color: rgba(var(--link-color-rgb), 0.75);
    // text-decoration-thickness: 2px;
    color: var(--link-color);

    i {
      color: var(--link-color);
    }
  }
}

ul,
ol {
  &:not([class]) {
    margin-left: 1.2em;

    li {
      &::marker {
        color: var(--accent-color);
      }

      &:has(p):not(.footnotes li) {
        &:not(:last-child) {
          margin-bottom: calc(var(--base-line-height) * 1em);
        }
      }
    }
  }

  &.contains-task-list {
    list-style: none;

    li {
      position: relative;
      padding-left: 1.2em;
    }

    input {
      position: absolute;
      top: 6px;
      left: 0;
    }
  }
}

ul {
  &:not([class]) {
    // list-style-position: inside;
    // margin-left: 0;

    li {
      &::marker {
        // font-size: 0.8em;
        // color: var(--accent-color);
      }
    }
  }
}

h1:not([class]) {
  margin-bottom: 30px;
  font-weight: 600;
  font-size: 30px;
  line-height: 1.2;
  text-wrap: balance;

  @include media(">=tablet") {
    font-size: 40px;
  }
}

h2:not([class]) {
  margin-bottom: 0.4em;
  font-weight: 700;
  font-size: 22px;
  line-height: 1.2;

  &:not(:first-child) {
    margin-top: 1.6em;
  }

  @include media(">=tablet") {
    font-size: 28px;
  }
}

h3:not([class]) {
  margin-bottom: 0.4em;
  font-weight: 700;
  line-height: 1.2;

  h2 + & {
    margin-top: 1.8em;
  }

  @include media(">=tablet") {
    font-size: 20px;
  }
}

h4,
h5,
h6 {
  &:not([class]) {
    font-weight: 700;
  }
}

.astro-code {
  margin-left: -10px;
  margin-right: -10px;
  padding: 10px;
  background-color: rgba(var(--text-color-max-contrast-rgb), 0.04) !important;
  border-radius: 10px;
  font-size: 0.9em;
  font-family: monospace;

  &:not(:last-child) {
    margin-bottom: calc(var(--base-line-height) * 1em);
  }

  .theme-dark & {
    &,
    * {
      color: inherit !important;
    }
  }
}

code {
  &:not(pre code) {
    padding: 3px 5px;
    background-color: rgba(var(--text-color-max-contrast-rgb), 0.04) !important;
    border-radius: 5px;
    font-family: monospace;
    // color: #24292e;
  }
}

table {
  --border-radius: 5px;
  width: 100%;
  border-collapse: separate;

  h2 + & {
    margin-top: 1.2em;
  }
}

th,
td {
  padding: 5px 10px;
  border: solid var(--border-color);
  border-width: 0;
  text-align: left;

  &:first-child {
    border-left-width: 1px;
  }

  &:last-child {
    border-right-width: 1px;
  }

  &:not(:last-child) {
  }

  @include media("<tablet") {
    font-size: 14px;
  }

  @include media(">=tablet") {
    padding: 5px 20px;
  }
}

th {
  background-color: rgba(var(--text-color-max-contrast-rgb), 0.04);
  font-weight: 600;
}

td {
  border-bottom-width: 1px;
}

thead tr:first-child {
  th,
  td {
    border-top-width: 1px;

    &:first-child {
      border-top-left-radius: var(--border-radius);
    }
    &:last-child {
      border-top-right-radius: var(--border-radius);
    }
  }
}

tbody tr:last-child {
  th,
  td {
    &:first-child {
      border-bottom-left-radius: var(--border-radius);
    }
    &:last-child {
      border-bottom-right-radius: var(--border-radius);
    }
  }
}

.sidenote-container {
  position: relative;
}

.sidenote {
  position: relative;
  // text-wrap: balance;
  font-size: 13px;
  line-height: 1.4;
  color: rgba(var(--text-color-rgb), 0.75);
  transition: color 0.1s;

  &::before {
    content: attr(data-label) ".";
    position: absolute;
    top: 0;
    left: -20px;
    // font-weight: 500;
    // font-family: monospace;
    color: rgba(var(--text-color-rgb), 0.5);
    transition: inherit;
  }

  p:not(:last-child) {
    margin-bottom: 0.8em;
  }

  &.-highlighted {
    color: var(--text-color);

    &::before {
      color: var(--accent-color);
    }
  }

  @media (max-width: 1259px) {
    margin-bottom: 2em;
    padding-left: 20px;

    &::before {
      left: 0;
    }
  }

  @media (min-width: 1260px) {
    width: var(--sidenote-width);
    // padding: 30px;
    position: absolute;
    top: 0;
    left: calc(100% + var(--column-spacing));
    // background-color: rgba(0, 0, 0, 0.04);
    // border-radius: 10px;
    font-size: 14px;

    &.-left {
      left: calc(var(--sidenote-width) * -1 - var(--column-spacing));
    }

    @media (max-width: 1390px) {
      --sidenote-width: 220px;
      --column-spacing: 50px;
    }

    @media (max-width: 1300px) {
      --sidenote-width: 200px;
      --column-spacing: 40px;
    }
  }
}
