@import "@styles/shared";

.el {
  margin-bottom: 48px;
  padding-top: 40px;
}

.link {
  display: inline-flex;
  align-items: center;
  gap: 12px;
  transition: opacity 0.15s;

  &:not(:hover) {
    opacity: 0.8;
  }

  @include media(">=tablet") {
    gap: 16px;
  }
}

.logo {
  width: 34.5px;

  @include media(">=tablet") {
    width: 46px;
  }
}

.title {
  margin-top: -8px;
  font-weight: 600;
  font-size: 24px;
  color: var(--text-color-max-contrast);

  @include media(">=tablet") {
    font-size: 32px;
  }
}
