@import "@styles/shared";

.el {
  display: flex;
  gap: 8px;
  padding-top: 10px;
}

.link {
  flex: 1;
  transition: opacity 0.15s;

  &:hover {
    opacity: 0.9;
  }
}

.image {
  width: 100%;
  height: auto;
}
