---
import Box from "@components/Box/Box.astro"
import Download from "@components/Download/Download.astro"
import Screenshots from "@components/Screenshots/Screenshots.astro"
import styles from "./Sidebar.module.scss"

const { aboutText, downloadLinks, screenshots } = Astro.props
---

<div class={styles.el}>
  <Box title="About" href="/about">
    <p>
      {aboutText}
    </p>
    <p>
      <span class="link">Learn more<i>→</i></span>
    </p>
  </Box>
  <Box title="Download">
    <Download links={downloadLinks} />
  </Box>
  <Box title="Screenshots">
    <Screenshots images={screenshots} />
  </Box>
</div>
