@import "@styles/shared";

.el {
  margin-top: 60px;
  padding: 60px 0;
  border-top: 1px solid var(--border-color);
  text-align: center;
  font-size: 14px;
  color: rgba(var(--text-color-rgb), 0.75);

  > div {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
}

.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.5em 1.5em;
  margin-bottom: 0;
  list-style: none;
}

.menuLink {
  transition: color 0.15s;
  &:hover {
    color: var(--link-color);
  }

  i {
    margin-left: 0.4em;
    font-style: inherit;
    transition: opacity 0.15s;
  }

  &:not(:hover) {
    i {
      opacity: 0.5;
    }
  }
}

.copyright {
  margin-bottom: 0;
  color: rgba(var(--text-color-rgb), 0.4);
}

.themeSwitcher {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  color: rgba(var(--text-color-rgb), 0.4);
}

.themeSwitcherButton {
  transition: color 0.15s;

  :global(.theme-light) &[data-theme-switcher="light"],
  :global(.theme-dark) &[data-theme-switcher="dark"],
  &:hover {
    color: rgba(var(--text-color-rgb), 0.75);
  }
}

.themeSwitcherSeparator {
  width: 1px;
  height: 20px;
  background-color: var(--border-color);
}
