@import "@styles/shared";

.el {
  display: flex;
  flex-direction: column;
  margin: 0 -15px;
  position: relative;

  &:has(a:hover) {
    &::before {
      opacity: 0;
    }
  }
}

.link {
  flex: 1;
  display: flex;
  align-items: center;
  // justify-content: flex-end;
  gap: 12px;
  padding: 8px 15px;
  border-radius: 10px;
  color: var(--text-color-max-contrast);
  transition: background-color 0.15s;

  &:hover {
    background-color: rgba(var(--text-color-max-contrast-rgb), 0.04);
  }
}

.linkText {
  font-size: 14px;
}

.icon {
  width: 20px;

  &_gitlab {
    width: 18px;
    margin-left: 1px;
  }

  &_dmg {
    width: 23px;
    margin-left: -1px;
  }
}
