@import "@styles/shared";

.columns {
  margin-bottom: 60px;

  @include media(">=tablet") {
    display: grid;
    gap: var(--side-padding);
    grid-template-columns: 56% auto;
  }

  @include media(">=desktop") {
    gap: var(--column-spacing);
    grid-template-columns: 64.7% auto;
  }
}

.column {
  @include media("<tablet") {
    &:first-child {
      margin-bottom: 60px;
    }
  }
}
